.filter-container {
  display: flex;
  flex-direction: row;
  width: 700px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.search {
  border-color: lightgray;
  border-width: 0.5px;
  border-style: solid;
  height: 33px;
  border-radius: 2px;
  width: 150px;
}

.input-container {
  padding-right: 8px;
}